* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* navbar styling */
.navbar {
    /* border: 1px solid black; */
    width: 80%;
    height: 71px;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
}

.manual_logo {
    margin: 15px 0 0 30px;
    cursor: pointer;
}

.manual_logo>img {
    width: 115px;
    height: 38px;
}

.request>div>a {
    text-decoration: none;
    color: #F9501D;
    font-size: 14px;
}

.request>div>a:hover {
    text-decoration: underline;
}

.request {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 52px;
}
/* navbar styling */

.healthy_eating {
    height: 300px;
    object-fit: cover;
    width: 100%;
}

.input_search {
    display: flex;
}

.search_button {
    border: none;
    outline: none;
    background-color: transparent;

}

#search {
    width: 610px;
    height: 40px;
    border-radius: 30px;
    padding: 15px 60px 20px 45px;
    display: inline-block;
    border: none;
    margin: -170px 0 0 450px;
    font-weight: lighter;

}

.mag_glass {
    /* border: 1px solid black; */
    width: 25px;
    height: 25px;
    margin-left: -595px;
    margin-top: -162px;
}

.help_content {
    margin: auto;
    /* border: 1px solid rgba(255, 118, 63, 1); */
    width: 75%;
    margin-top: 55px;
}

.first_box {
    /* border: 1px solid rgba(255, 118, 63, 1); */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* justify-content: space-around; */
    gap: 30px;
    text-align: center;
    align-items: center;

}

.first_box>div {
    border: 1px solid rgba(255, 118, 63, 1);
    height: 100px;
    padding-top: 25px;
    color: #ff763f;
    font-weight: 430;
    cursor: pointer;
    border-radius: 5px;
}

.second_box {
    border: 1px solid rgba(255, 118, 63, 1);
    /* justify-content: space-around; */
    gap: 30px;
    text-align: center;
    align-items: center;
    margin-top: 30px;
    height: 100px;
    padding-top: 25px;
    border-radius: 5px;
    color: #ff763f;
    cursor: pointer;
}

h4+p {
    margin-top: 10px;
}

.first_box>div:hover {
    background-color: #ff763f;
    color: white;
}

.second_box:hover {
    background-color: #ff763f;
    color: white;
}

h4 {
    font-weight: 500;
}

hr {
    width: 75%;
    margin: 75px 0 40px 190px;

}

.recent {
    /* border: 1px solid #ff763f; */
    width: 75%;
    height: auto;
    margin: auto;

}

.recent>h2 {
    text-align: center;
    font-weight: 400;
    margin-bottom: 50px;
}

/* .activities { */
    /* border: 1px solid #ff763f; */

/* } */

.activities>div>div>a {
    text-decoration: none;
    color: black;

}

.activities>div>div>a:last-child {
    font-weight: lighter;
}

.activities>div>div>a:hover {
    text-decoration: underline;
}

.activities>div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.activities>div>div:nth-child(1) {
    /* border: 1px solid black; */
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.activities>div>div:last-child {
    /* border: 1px solid black; */
    margin-top: 25px;
    font-weight: lighter;
    font-size: small;
}

.activities>hr {
    width: 100%;
    margin: 20px 0px 20px 0;
    font-weight: lighter
}

.seemore>a {
    color: #F9501D;
    text-decoration: none;

}

.seemore>a:hover {
    text-decoration: underline;
}

/* footer styling */

.footer {
    /* border: 1px solid #F9501D; */
    margin: auto;
    margin-top: 20px;
    height: 100px;
    width: 100%;
}

.recent+hr {
    width: 100%;
    margin: auto;
    margin-top: 100px;
}

.footer>div>a {
    margin-left: 190px;
    text-decoration: none;
    color: #666;
    font-weight: lighter;
}

.footer>div>a:hover {
    text-decoration: underline;
}

.support {
    width: 135px;
    height: 45px;
    background-color: #27ae60;
    cursor: pointer;
    border: none;
    border-radius: 999rem;
    margin: 20px 0 25px 25px;
    font-weight: 700;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
}
/* footer styling */